
#firstPath {
    color: #ADD8E6; 
 }
 
 #nav  {
   margin-top: 2em;
 }
 
 .section {
   border: 1px solid #3299CC;
   border-top: none;
   padding-bottom: 1em;
   margin: .25em;
 }
 
 .inputTitle {
   background-color: #ADD8E6;
   font-weight: 325;
   color: #3299CC;
   padding: 1em;
 }
 
 .titleEmph {
   font-weight: 500;
   color: #3299CC;
 }
 
 .inputs {
   margin: .25em; 
 }
 
 label {
     font-weight: normal !important;
 }
 
 #buttons {
   display: inline-block;
   top: 0px;
 }
 
 #generateText {
   background-color: #4AC948;
   color: white;
   border-radius: 5px;
   margin: 1em;
   padding: .5em;
 }
 
 #resetForm {
   background-color: #ff3333;
   color: white;
   border-radius: 5px;
   margin: 1em;
   padding: .5em;
 }
 
 #textCopy {
    display: inline-block;
 }
 
 #copy {
   background-color: #33A1DE;
   color: white;
   border-radius: 5px;
   padding: .5em;
   margin: 1em;
 }
 